<div class="message">
    <div class="message__container">
        <h2 class="message__title">Cómo no iba a ser el!!!</h2>
    </div>
    <div class="messasge__img-title-container">
        <div class="titlle-container">
            <h2 class="message__artist">Jimmy Hendrix</h2>
        </div>
        <div class="message-container">
            <p class="message__artist-history">
                Jimmy Hendrix es considerado el mejor guitarrista de la historia de la música
            </p>
        </div>
    </div>
    <input type="button" class="button__play-again js-button-play-again" value="Vuelve a jugar" />
</div>